# Frontend Environment Variables

# Frontend URLs
VITE_FRONTEND_PUBLIC_URL=https://webhook-check-dsad.onrender.com
VITE_FRONTEND_INTERNAL_URL=http://localhost:5173

# Backend URLs
VITE_BACKEND_PUBLIC_URL=https://webhook-check-dsad.onrender.com/api
VITE_BACKEND_INTERNAL_URL=http://localhost:3000
